<h1>Birds</h1>

<ul>
<% @birds.each do |bird| %>
    <li><%= bird.name %> - <%= bird.species %></li>
<% end %>
</ul>

<!-- contains ERB code that will list out each bird's name 
and species in an unordered list: --> 

<!-- we already have a Rails app up and running using 
the MVC structure! If you run rails server and visit 
the '/birds' path, you should see a list of birds.-->